[mysqld]
skip-networking
sql_mode                        = NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES
max_prepared_stmt_count         = 256
innodb_flush_log_at_trx_commit  = 0
explicit_defaults_for_timestamp = 1
